@import url('_font.css');

:root {
  --color-primary: #1c1917;
  --color-secondary: #f5f5f4;
  --color-success: #34d399;
  --color-info: #a5f3fc;
  --color-danger: #f43f5e;
  --color-warning: #fcd34d;
  --color-dark: #000;
  --color-light: #fff;
  --color-gray: #78716c;
  
  /* DO NOT change anything here, do it at HTML:font-size */
  --size-3xs: 0.25rem;
  --size-2xs: 0.375rem;
  --size-xs: 0.5rem;
  --size-sm: 0.75rem;
  --size-md: 1rem;
  --size-lg: 1.5rem;
  --size-xl: 2rem;
  --size-2xl: 3rem;
  --size-3xl: 4rem;
  --size-4xl: 6rem;
  --size-5xl: 8rem;

  /* FOR: Icon, Button, Or Non-fixed component */
  --element-3xs: 0.25em;
  --element-2xs: 0.375em;
  --element-xs: 0.5em;
  --element-sm: 0.75em;
  --element-md: 1em;
  --element-lg: 1.5em;
  --element-xl: 2em;
  --element-2xl: 3em;
  --element-3xl: 4em;
  --element-4xl: 6em;
  --element-5xl: 8em;

  --percent-0:	0%;
  --percent-5:	5%;
  --percent-10:	10%;
  --percent-15:	15%;
  --percent-20:	20%;
  --percent-25:	25%;
  --percent-30:	30%;
  --percent-35:	35%;
  --percent-40:	40%;
  --percent-45:	45%;
  --percent-50:	50%;

  --circle: 100%;

  --shadow-2xs: 0 1px rgb(0 0 0 / 0.05);
  --shadow-xs: 0 1px 2px 0 rgb(0 0 0 / 0.05);
  --shadow-sm: 0 1px 3px 0 rgb(0 0 0 / 0.1), 0 1px 2px -1px rgb(0 0 0 / 0.1);
  --shadow-md: 0 4px 6px -1px rgb(0 0 0 / 0.1), 0 2px 4px -2px rgb(0 0 0 / 0.1);
  --shadow-lg: 0 10px 15px -3px rgb(0 0 0 / 0.1), 0 4px 6px -4px rgb(0 0 0 / 0.1);
  --shadow-xl: 0 20px 25px -5px rgb(0 0 0 / 0.1), 0 8px 10px -6px rgb(0 0 0 / 0.1);
  --shadow-2xl: 0 25px 50px -12px rgb(0 0 0 / 0.25);
  --shadow-none: 0 0 #000;

  --checkbox-border-color: var(--color-gray);
  --checkbox-checked-color: var(--color-primary);
  --checkbox-hover-color: var(--color-primary);
  --checkbox-disabled-bg-color: var(--color-gray);
}

/*
+---------------------------+
|   RESPONSIVE REFERENCES   |
+---------------------------+

@media (min-width: 384px)  { /* xs: 24rem * / }
@media (min-width: 576px)  { /* sm: 36rem * / }
@media (min-width: 768px)  { /* md: 48rem * / }
@media (min-width: 960px)  { /* lg: 60rem * / }
@media (min-width: 1152px) { /* xl: 72rem * / }
@media (min-width: 1344px) { /* 2xl: 84rem * / }
@media (min-width: 1536px) { /* 3xl: 96rem * / }

*/